body{
	background-color: #6A4061;
		letter-spacing: 1px;
	
}

#banner{
	font-family: 'Special Elite', 'cursive';
	text-align: center;
	color: #7CB82F;
	margin-top: 50px;
}

#main{
	background-color: #F7F4EE;
	font-family: 'Libre Baskerville', serif;
	font-size: 20px;
	color:  #A16A4D;
	padding: 25px 10px;
	margin: 50px 25px 0 25px;
}

.wrap{
	padding: 0 25px 0 25px;
	overflow: hidden;

/*	display: flex;
	justify-content: flex-start;
	align-content: flex-start;*/


}

.photos img{
	height: 100px;
	width: 100px;
	padding: 50px 25px 50px 0;
	float: left;
	/*order: -1;*/


}

/*.img{
	margin-right: 25px;
	background-color: #F7F4EE;
	padding: 10px;
}*/

.item{
	font-family: 'Special ELite', 'cursive';
	font-weight: bold;
	padding-bottom: 5px;
	margin-top: 75px;
	clear:right;
/*	order: 0;
	align-self: inherit;*/

}

.description{
	font-weight: normal;
	font-size: 14px;
/*	order: 1;
	align-self: inherit;
*/

}

.price{
	font-weight: normal;
	font-size: 14px;
	float: right;
	margin-top: -19px;
	margin-right: 57px;
/*	order: 2;*/
}

hr.style13 {
	clear: left;
/*	margin-top: 50px;*/
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

#subtotal{
	font-family: 'Special Elite', 'cursive';
	color: #7CB82F;
	float: right;
	margin: 50px 0;
	margin-right: 57px;
}

